<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
      <%- include(rootPath + 'partials/nav'); %>

        <link rel="stylesheet" href="css/page.css">
        <script src="css/cssscript.js"></script>

        <div class="split-panel col-xs-12 col-sm-6 culture-side" style="float: left;">
          <div>
            <div class="text-area">
              <div class="big">COACHING</div>
            </div>
            <!-- <a class="btn btn-lg centerBtn learnCoachingBtn" href="coaching" role="button">Learn More</a> -->
          </div>
        </div>

        <div class="split-panel col-xs-12 col-sm-6 action-side" style="float: right;">
          <div>
            <div class="text-area">
              <div class="big">MENTORSHIP PROGRAM</div>
            </div>
            <!-- <a class="btn btn-lg centerBtn learnProgramBtn" href="coaching" role="button">Learn More</a> --->
          </div>
        </div>

        <div id="split-panel-or">
          <div>
            <img id="center-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/bcr-white.png">
          </div>
        </div>

        <%- include(rootPath + 'partials/footer'); %>
    </body>
</html>
