<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
      <%- include(rootPath + 'partials/nav'); %>

        <link rel="stylesheet" href="css/page.css">
        <script src="css/cssscript.js"></script>

        <div class="split-panel col-xs-12 col-sm-6 culture-side" style="float: left;">
          <div>
            <div class="text-area">

              <form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" onsubmit="return false;">
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="314917919">
<input type="hidden" name="meta_split_id" value="">
<input type="hidden" name="listname" value="awlist5012551">
<input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_487b92104a5ff531d590d0c85c12e240">

<input type="hidden" name="meta_adtracking" value="My_Web_Form">
<input type="hidden" name="meta_message" value="1">
<input type="hidden" name="meta_required" value="name,email">

<input type="hidden" name="meta_tooltip" value="">
</div>
<div id="af-form-314917919" class="af-form">
<div id="af-body-314917919" class="af-body af-standards">
<div class="af-element">
<div class="bodyText">
  <p><span style="font-family: helvetica; font-size: 24px; color: #586784;">Coaching Call</span></p></div><div class="af-clear"></div>
</div>

</div>
</div>


<script type="text/javascript">

var already_resized = false;

window.onload = function() {

        if (already_resized) {
            return;
        }
        already_resized = true;

        var form = document.getElementById('af-form-314917919'),
            height = parseInt(form.offsetHeight, 10);
            windowHeight = parseInt('800,950', 10);
        windowHeight = isNaN(windowHeight) ? height: windowHeight;
        var negativeChromeHeight = height - windowHeight;
        window.resizeBy(0, negativeChromeHeight); // Adjust height to shrink it by the total height of the popup's titlebar and status bar

        // Force a redraw to fix an IE7 bug with showing BG colors white after resize
        form.className = form.className+' forceRedrawClass';

        // Hide the scrollbars if we don't need them
        if (screen.height > height) document.body.style.overflow = 'hidden';
    }
</script></form>


            </div>
            <!-- <a class="btn btn-lg centerBtn learnCoachingBtn" href="coaching" role="button">Learn More</a> -->
          </div>
        </div>

        <div class="split-panel col-xs-12 col-sm-6 action-side" style="float: right;">
          <div>
            <div class="text-area">
              <form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" onsubmit="return false;">
            <div style="display: none;">
            <input type="hidden" name="meta_web_form_id" value="314917919">
            <input type="hidden" name="meta_split_id" value="">
            <input type="hidden" name="listname" value="awlist5012551">
            <input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_487b92104a5ff531d590d0c85c12e240">

            <input type="hidden" name="meta_adtracking" value="My_Web_Form">
            <input type="hidden" name="meta_message" value="1">
            <input type="hidden" name="meta_required" value="name,email">

            <input type="hidden" name="meta_tooltip" value="">
            </div>
            <div id="af-form-314917919" class="af-form">
            <div id="af-body-314917919" class="af-body af-standards">
            <div class="af-element">
            <div class="bodyText">
            <p><span style="font-family: helvetica; font-size: 24px; color: #586784;">Mentorship Program</span></p></div><div class="af-clear"></div>
            </div>

            </div>
            </div>


            <script type="text/javascript">

            var already_resized = false;

            window.onload = function() {

            if (already_resized) {
            return;
            }
            already_resized = true;

            var form = document.getElementById('af-form-314917919'),
            height = parseInt(form.offsetHeight, 10);
            windowHeight = parseInt('800,950', 10);
            windowHeight = isNaN(windowHeight) ? height: windowHeight;
            var negativeChromeHeight = height - windowHeight;
            window.resizeBy(0, negativeChromeHeight); // Adjust height to shrink it by the total height of the popup's titlebar and status bar

            // Force a redraw to fix an IE7 bug with showing BG colors white after resize
            form.className = form.className+' forceRedrawClass';

            // Hide the scrollbars if we don't need them
            if (screen.height > height) document.body.style.overflow = 'hidden';
            }
            </script></form>
            </div>
            <!-- <a class="btn btn-lg centerBtn learnProgramBtn" href="coaching" role="button">Learn More</a> --->
          </div>
        </div>

        <div id="split-panel-or">
          <div>
            <img id="center-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/bcr-white.png">
          </div>
        </div>


    </body>
</html>
