<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="bottomLinksDiv">
    <div class="container">
        <ul class="centerLinks socialIcons">
          <li style="display:inline-block">
              <a href="/contact"><img src="/images/icons/email.png"></img></a>
          </li>
          <li style="display:inline-block">
              <a href="https://github.com/mxa5473"><img src="/images/icons/github.png"></img></a>
          </li>
            <li style="display:inline-block">
                <a href="http://www.youtube.com/channel/UCX8_l4Getuuy_zn1ikUz9fg"><img src="/images/icons/youtube.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.instagram.com/mustafaxa_/"><img src="/images/icons/instagram.png"></img></a>
            </li>
        </ul>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
