<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">MUSTAFA ALNUAIMY</h1>
            <h3></h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="images/IMG_1964_cmp.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am a Senior <a href="https://www.se.rit.edu">Software Engineering</a>
              student at <a href="http://www.rit.edu">Rochester Institute of Technology</a>. I focus on front-end software development
							and deploying high quality software assurance solutions. Additionally, I am a hobbyist filmmaker and photographer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
         <div class="row">
           <div class="col-md-6 tilePadWide softTileBack col1Pad">
               <h3 class="white regTitle cenX">Languages</h3>
               <h5 class="tileDesc subPmin white">C#/Python</h5>
           </div>
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Front-end</h3>
                    <h5 class="tileDesc subPmin white">HTML, CSS, JavaScript, JQuery and React</h5>

                </div>
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Back-end</h3>
                    <h5 class="tileDesc subPmin white">ASP.NET, Django, APIs, Microservices and MVC</h5>
                </div>

              <a class="btn btn-lg centerBtn learnSoftwareBtn" href="https://github.com/mxa5473" role="button">Learn More</a>

            </div>
            </div>
        </div>

    <div class="container-fluid filmImg">
        <div class="container filmDiv">
          <h1 class="leftTitle subTitle white" style="padding-left: : 0px">FILM</h1>
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-58e6b8f0-91a9-42b3-841a-4de42e0324d7"></div>
           <!--          <div class="row">
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class= "odometer tileTitle odoSubs whiteText" id="odometer" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Subscribers</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="odometer tileTitle odoViews whiteText" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Views</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">5+ years</h3>
                        <h5 class="tileDesc whiteText">Creating digital content</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Partner</h3>
                        <h5 class="tileDesc whiteText">with Much Studios</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">500+</h3>
                        <h5 class="tileDesc whiteText">Videos</h5>
                    </div>
                </div>
-->             <a class="btn btn-lg centerBtn learnFilmBtn" href="http://www.youtube.com/channel/UCX8_l4Getuuy_zn1ikUz9fg" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid photoImg">
        <div class="container photoDiv">
              <h1 class="leftTitle subTitle white" style="padding-top: 0px">PHOTOGRAPHY</h1>
              <script src="https://apps.elfsight.com/p/platform.js" defer></script>
              <div class="elfsight-app-dfc294a4-4b8c-4043-b23d-fc706b8ec064"></div>
<!--              <div class="row">
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class= "cenX subTitle padX0" style="display:block">MANUAL</h3>
                            <h5 class="tileDesc">Self taught manual photography since 2012</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">PLUGINS</h3>
                            <h5 class="tileDesc">Professional timelapses with my <a href="software/timelapse-auto-ramp">Photoshop Plugin</a>,
                            to assist photographers shooting timelapses in difficult lighting conditions</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">100+</h3>
                            <h5 class="tileDesc">Timelapses<br>shot in the past 3 years</h5>
                        </div>
                    </div>
-->
                  <a class="btn btn-lg centerBtn learnPhotoBtn" href="https://www.instagram.com/mustafaxa_/" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
